<% title='Foro' %>
  <%- include('../base/estructura-head.ejs'); %>
    <h1>Post</h1>
    <a href="post/create">Crear post</a>
    <table class="table" border="1">
      <thead>
        <tr>
          <td>Titulo</td>
          <td>Contenido</td>
          <td>Url de Imagen</td>
          <td colspan="3">Opciones</td>
        </tr>
      </thead>
      <tbody>
        <% for (post of posts ) { %>
          <tr>
            <td>
              <%= post.titulo %>
            </td>
            <td>
              <%= post.contenido %>
            </td>
            <td>
              <%= post.imagen %>
            </td>
            <td>
              <a href="user/<%= post.id %>">Ver Post</a>
            </td>
            <td>
              <a href="user/update/<%= post.id %>">Modificar</a>
            </td>
            <td>
              <a href="user/delete/<%= post.id %>">Eliminar</a>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
    <%- include('../base/estructura-foot.ejs'); %>