<% title='Foro' %>
  <%- include('../base/estructura-head.ejs'); %>
  <div class="container">
    <h1 class="text-center">Foro</h1>
    <button class="btn btn-outline-primary"><a href="/post/create">Crear post</a></button><br>
    <div class="table-responsive">
    <table class="table table-striped table-bordered" border="1">
      <caption></caption>
      <thead class="thead-dark">
        <tr class="text-center">
          <th scope="col">Titulo</th>
          <th scope="col">Contenido</th>
          <th scope="col">URL de Imagen</th>
          <th scope="col">Fue Creado</th>
          <th colspan="3" scope="col" class="table-secondary">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <% for (post of posts ) { %>
          <tr>
            <td >
              <%= post.titulo %>
            </td>
            <td class="text-break">
              <%= post.contenido %>
            </td>
            <td>
              <img src="<%= post.imagen %>" class="img-thumbnail" width="300" height="300" alt="<%= post.titulo %>"/>
            </td>
            <td >
              <%= post.createdAt %>
            </td>
            <td>
              <a href="/post/<%= post.id %>">Ver Post</a>
            </td>
            <td>
              <a href="/post/update/<%= post.id %>">Modificar</a>
            </td>
            <td>
              <a href="/post/delete/<%= post.id %>">Eliminar</a>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
  </div>
    <%- include('../base/estructura-foot.ejs'); %>