<% title='Foro' %>
  <%- include('../base/estructura-head.ejs'); %>
    <h1>Post</h1>
    <button><a href="/post/create">Crear post</a></button>
    <table class="table" border="1">
      <caption></caption>
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Contenido</th>
          <th>Url de Imagen</th>
          <th colspan="3">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <% for (post of posts ) { %>
          <tr>
            <td>
              <%= post.titulo %>
            </td>
            <td>
              <%= post.contenido %>
            </td>
            <td>
              <img src="<%= post.imagen %>" alt="<%= post.titulo %>"/>
            </td>
            <td>
              <a href="/post/<%= post.id %>">Ver Post</a>
            </td>
            <td>
              <a href="/post/update/<%= post.id %>">Modificar</a>
            </td>
            <td>
              <a href="/post/delete/<%= post.id %>">Eliminar</a>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
    <%- include('../base/estructura-foot.ejs'); %>